<div class="shadow-lg custom-container mt-4 rounded">
    <div class="bg-primary p-3 rounded">
        <span class="text-white fw-bold ms-3 h4">Transfer Task</span>
    </div>
    <form [formGroup]="transferform">
        <table class="table table-striped table-bordered rounded">
            <thead>
                <tr>
                    <th class="text-center" style="width: 1%;">S.No</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let a of users;let i =index">
                <td>{{i+1}}</td>
                <td>
                   {{a.name}}
                </td>
                <td>{{a.email}}</td>
                <td class="text-center">
                    <button class=" btn btn-warning text-white fw-semibold text-center" (click)="transfer(a.id)">Transfer</button>
                </td>
               </tr>
            </tbody>
        </table>
    </form>
</div>